<div class="follow-wrapper">
  <div class=follow-container>
    <h1>Following</h1>
    <% @followings.each do |user| %>
    <div class="followers-index">
      <% if user.image.attached? %>
        <div class="follow-reference">
          <%= image_tag user.image.variant(resize: '80x80'), class:"user-pic", id: "img" %>
        <p><%= link_to user.nickname, [user], class: "under-line done-followed" %></p> 
        </div>
      <% else %>
        <div class="follow-reference">
          <p><%= link_to user.nickname, [user], class: "under-line done-followed" %></p> 
        </div>
      <% end %>  
        <div class="follow-introduce">
          <%= user.introduce %>
        </div>
    </div>
    <% end %>
  </div>  
</div>    
