<div class="follow-wrapper">
  <div class=follow-container>
    <h1>Followers</h1>
    <% @followers.each do |user| %>
    <div class="followers-index">
      
        <div><%= image_tag user.image, class:"user-pic" %>
        <%= link_to user.nickname, [user], class: "under-line done-followed" %> 
        </div>
        <div class="follow-introduce">
          <%= user.introduce %>
        </div>
      
    </div>
    <% end %>
  </div>  
</div>    
