/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

*{
box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.under-line {
  text-decoration-line: none;
}

.notifications {
  color: white;
  text-align: center;  
}
  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }

  h2 {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    font-weight: bold;
  }


  @media (max-width: 769px) {
    html {
  width: auto;
  float: none;
  }
  }

  @media (max-width: 1024px) {
    html {
  width: auto;
  float: none;
  }
  }
